.todo {
    background-color: #3498db;
    margin-bottom: 5px;
    height: 35px;
    line-height: 35px;
    border-left: 10px solid #2980b9;
    color: white;
}
.todo.done {
    background-color: white;
    margin-bottom: 5px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #3498db;
    border-left: 10px solid #2980b9;
    color: #3498db;
}

.todo p {
    display: inline-block;
    padding-right: 20px;
}
.todo p+input {
    float: right;
    height: 25px;
    width: 25px;
}
.todo button {
	float: right;
	margin-right: 5px;
}
form .checkbox {
    margin-left: 15px;
    margin-right: 15px;
}
form .checkbox label {
    line-height: 25px;
    height: 25px;
}
form .checkbox span {
    line-height: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: super;
}
form .checkbox input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

/* Animations */
.example-enter {
	opacity: 0.01;
	transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
	opacity: 1;
}

.example-leave {
	opacity: 1;
	transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
	opacity: 0.01;
}